<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DATA WIZARD</title>
    <link rel="stylesheet" href="{{ url_for('send_static', path='assets/css/styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('send_static', path='assets/images/logo.jpg') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="styles.css">
    <style>
        body {
            background-image: url("{{ url_for('send_static', path='assets/images/background_step2.png') }}");
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
            position: fixed;
        }
    </style>
</head>

<body>

<h1 class="chat_title">DATA WIZARD</h1>

<div class="progress-bar">
    <div class="step {% if steps_status['step_1'] == 'done' %}done{% endif %}" data-step="Loading data">1</div>
    <div class="step {% if steps_status['step_2'] == 'done' %}done{% elif steps_status['step_2'] == 'active' %}active{% endif %}" data-step="Pre-understanding data">2</div>
    <div class="step {% if steps_status['step_3'] == 'done' %}done{% elif steps_status['step_3'] == 'active' %}active{% endif %}" data-step="Pre-processing data">3</div>
    <div class="step {% if steps_status['step_4'] == 'done' %}done{% elif steps_status['step_4'] == 'active' %}active{% endif %}" data-step="Understanding data">4</div>
    <div class="step {% if steps_status['step_5'] == 'done' %}done{% elif steps_status['step_5'] == 'active' %}active{% endif %}" data-step="Model selection">5</div>
    <div class="step {% if steps_status['step_6'] == 'done' %}done{% elif steps_status['step_6'] == 'active' %}active{% endif %}" data-step="Validation">6</div>
</div>

<div class="chatbot">
    <ul class="chatbox">
        <p class="graph-prompt">Customize the graphs needed: </p>
        
        {% if graph_list is defined %}
            {% for graph in graph_list %}
            <div class="graph-choice">
                <div class="graph-dropdowns" id="graph_group">
                    <div class="graph-dropdown">
                        <label class="graph-label" for="graph_type">Graph type:</label>
                        <select id="graph_type" name="graph_type" class="graph-column" onchange="handleGraphTypeChange()">
                            <option value="{{ graph.graph_type }}" {% if graph.graph_type == 'None' %} selected {% endif %}>None</option>
                            {% for option in graph_options %}
                                <option value="{{ option }}" {% if option == graph.graph_type %} selected {% endif %}>{{ option }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="graph-dropdown">
                        <label for="graph_label" class="graph-label">X Column:</label>
                        <select id="x_column" name="x_column" class="graph-column" onchange="sendData()">
                            <option value="{{ graph.x_column }}" {% if graph.x_column == 'None' %} selected {% endif %}>None</option>
                            {% if data is defined %}
                                {% for column in data.columns %}
                                    <option value="{{ column }}" {% if column == graph.x_column %} selected {% endif %}>{{ column }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    <div class="graph-dropdown">
                        <label class="graph-label" for="y_column">Y Column:</label>
                        <select id="y_column" name="y_column" class="graph-column" onchange="sendData()" {% if graph.graph_type in ['Pie', 'Box', 'Histogram'] %} disabled {% endif %}>
                            <option value="None" {% if graph.y_column == 'None' %} selected {% endif %}>None</option>
                            {% if data is defined %}
                                {% for column in data.columns %}
                                    <option value="{{ column }}" {% if column == graph.y_column %} selected {% endif %}>{{ column }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="graph-choice">
                <div class="graph-dropdowns" id="graph_group">
                    <div class="graph-dropdown">
                        <label class="graph-label" for="graph_type">Graph type:</label>
                        <select id="graph_type" name="graph_type" class="graph-column" onchange="handleGraphTypeChange()">
                            <option value="None">None</option>
                            {% for option in graph_options %}
                                <option value="{{ option }}">{{ option }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="graph-dropdown">
                        <label for="graph_label" class="graph-label">X Column:</label>
                        <select id="x_column" name="x_column" class="graph-column" onchange="sendData()">
                            <option value="None">None</option>
                            {% if data is defined %}
                                {% for column in data.columns %}
                                    <option value="{{ column }}">{{ column }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    <div class="graph-dropdown">
                        <label class="graph-label" for="y_column">Y Column:</label>
                        <select id="y_column" name="y_column" class="graph-column" onchange="sendData()" >
                            <option value="None">None</option>
                            {% if data is defined %}
                                {% for column in data.columns %}
                                    <option value="{{ column }}">{{ column }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
            </div>
        {% endif %}
        
        <button id="new_graph" class="graph-btn">New Graph</button>
        <button class="scroll-down" id="scroll-btn" style="display: none;">
            <span class="material-symbols-outlined down-btn">keyboard_double_arrow_down</span>
        </button>
    </ul>
</div>


<button onclick="opengraph()" id="generate_graph_btn" class="generate-graph-btn" style="display: none;">View Graph</button>
<div id="graphModal" class="modal" role="dialog" aria-labelledby="dialog2Title" aria-describedby="dialog1Desc">
    <div class="modal-content">
        <span class="close" onclick="closegraph()"><i class="ri-arrow-right-line"></i></span>
        <p>Graph Generated are:</p><br>
        <p id="dialog2Title" class="no_input">
            <div class="visualization">
                {% for plot_data in plot_data_list %}
                    <img src="data:image/png;base64,{{ plot_data }}" alt="Visualization">
                {% endfor %}
            </div>
        </p>
    </div>
</div>


<div class="traversal-buttons">
    <form id="select_columns_form" action="/Pre_Processing" method="post">
        <div> 
            <input id="back_step_4" type="submit" value="Back" class="back-step-two">
        </div>
    </form>
    <form id="select_columns_form" action="/model_selection" method="post">
        <div> 
            <input id="next_step_4" type="button" value="Visualize and Next" class="next-step-two">
        </div>
    </form>
</div>

<div class="code-buttons">
    <button onclick="opencode()" id="code-btn" class="eye-code-btn">
        <div class="image-container"><img src="/static/assets/images/side eye.gif"></div>
        <span>Copy Code</span>
    </button>
</div>
<div id="codeModal" class="code-modal" role="dialog" aria-labelledby="dialog1Title" aria-describedby="dialog1Desc" style="display: none;">
    <div class="code-modal-content" >
        <span class="close" onclick="closecode()">&times;</span>
        <pre id="dialog1Title" class="no_input" style="display: none;">
            {{ python_code|safe }}
        </pre>
        <p>Code Copied!!</p>
        <span>Well done!</span> 
        <p>You can now use it as if it were your own.</p>
    </div>
</div>

</body>
<script src="{{ url_for('send_static', path='assets/js/main.js') }}"></script>
<script>
function setYColumnState(graphGroup) {
    const graphTypeSelect = graphGroup.querySelector('#graph_type');
    const ySelect = graphGroup.querySelector('#y_column');
    const xSelect = graphGroup.querySelector('#x_column');

    function validateColumns() {
        if (graphTypeSelect.value !== "Pie" && graphTypeSelect.value !== "Box" && graphTypeSelect.value !== "Histogram") {
            if (xSelect.value === ySelect.value) {
                alert('The X Column and Y Column cannot be the same.');
            }
        }
    }

    graphTypeSelect.addEventListener('change', function() {
        if (this.value === "Pie" || this.value === "Box" || this.value === "Histogram") {
            ySelect.setAttribute('disabled', '');
        } else {
            ySelect.removeAttribute('disabled');
        }
        validateColumns();
    });

    xSelect.addEventListener('change', validateColumns);
    if(ySelect) {
        ySelect.addEventListener('change', validateColumns);
    }
}

document.addEventListener('DOMContentLoaded', (event) => {
    var newGraphBtn = document.getElementById("new_graph");
    if (newGraphBtn) {
        newGraphBtn.addEventListener("click", function () {
            var graphChoice = document.querySelector(".graph-choice");
            if (graphChoice) {
                var graphGroup = document.getElementById('graph_group');
                if (graphGroup) {
                    var clone = graphGroup.cloneNode(true);
                    clone.id = "graph_group" + Math.floor(Math.random() * 1000);

                    // Set all dropdown values to "None"
                    var dropdowns = clone.querySelectorAll('.graph-column');
                    dropdowns.forEach((dropdown) => {
                        dropdown.value = "None";
                        // Add "None" option if not already present
                        if (!dropdown.querySelector('option[value="None"]')) {
                            var noneOption = document.createElement('option');
                            noneOption.value = "None";
                            noneOption.textContent = "None";
                            dropdown.prepend(noneOption);
                        }
                    });

                    // Enable Y column select
                    clone.querySelector('#y_column').removeAttribute('disabled');

                    // Set up event listener for graph type dropdown
                    var graphTypeSelect = clone.querySelector('#graph_type');
                    var yColumnSelect = clone.querySelector('#y_column');
                    graphTypeSelect.addEventListener('change', function () {
                        var selectedGraphType = this.value;
                        if (selectedGraphType === "Pie" || selectedGraphType === "Histogram" || selectedGraphType === "Box") {
                            yColumnSelect.setAttribute('disabled', '');
                        } else {
                            yColumnSelect.removeAttribute('disabled');
                        }
                    });

                    graphChoice.appendChild(clone);
                }
            }
        });
    }
    var nextButton = document.getElementById("generate_graph_btn");
    if(nextButton){
        nextButton.addEventListener("click", function() {
            console.log("Next button clicked");

            var dropdownGroups = document.querySelectorAll('div[id^="graph_group"]');
            var allGroupData = [];

            dropdownGroups.forEach((group, index) => {
                var dropdowns = group.querySelectorAll('.graph-column');
                var groupData = {};

                dropdowns.forEach((dropdown) => {
                    var selectedOption = dropdown.options[dropdown.selectedIndex].value;
                    groupData[dropdown.id] = selectedOption;
                });

                console.log("Group data #" + (index + 1) + ": ", groupData);
                allGroupData.push(groupData);
            });

            console.log("All group ", allGroupData);
            sendDataToServer(allGroupData);
        });
    }

    var defaultGraphGroup = document.getElementById('graph_group');
    if (defaultGraphGroup) setYColumnState(defaultGraphGroup);
    
    document.querySelector('#next_step_4').addEventListener("click", function() {
        document.querySelector('#generate_graph_btn').click();
    });

});

function sendDataToServer(allData) {
    fetch('/generate_graph', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ allDropdownData: allData })
    })
    .then(response => response.json()) 
    .then(data => {
        const plotDataList = data.plot_data_list;
        
        const graphDiv = document.createElement('div');
        graphDiv.classList.add('visualization');

        plotDataList.forEach(plotData => {
            const img = document.createElement('img');
            img.src = 'data:image/png;base64,' + plotData;
            img.alt = 'Visualization';
            graphDiv.appendChild(img);
        });

        const dialog2Title = document.getElementById('dialog2Title');
        dialog2Title.parentNode.insertBefore(graphDiv, dialog2Title.nextSibling);

        document.getElementById('graphModal').style.display = "block";
        
        document.querySelector('div.modal .close').addEventListener('click', closeModal);
    })

    .catch((error) => {
        document.open();
        document.write("<p>An error occurred while processing your request. Please refresh the page and try again.</p>");
        document.close();

        console.error('Error:', error);
    });
}

function closeModal() {
    document.getElementById('graphModal').style.display = 'none';
    
    document.querySelector('.visualization').innerHTML = '';
    var form = document.createElement("form");
    form.method = "POST";
    form.action = "/pre_model_selection";
    document.body.appendChild(form);
    form.submit();
}

</script>
</html>